@model CosmeticsWeb.Models.ViewModels.Cart.Cart

<a href="/cart/CartDetail" class="btn btn-default" style="color:red;">
    购物车：<i class="glyphicon glyphicon-shopping-cart"> <span class="badge">@Model.Detail.Count</span></i>
</a>