<form class="row text-center" action="/home/SearchResult" method="post">
    <input type="text" name="txtSearch" placeholder="请输入化妆品名" class="col-md-6 col-md-offset-2" />
    <input type="submit" value="搜索" class="col-md-2 col-md-offset-1" />
</form>
<hr />

