@{
    ViewBag.Title = "天大";
}

<div class="jumbotron masthead">
    <div class="container">
        <h1>dcxc化妆品小店</h1>
        <h2>电子商务系统分析与设计课程作业</h2>
        <ul class="masthead-links">
            <li>
                <a href="https://github.com/dcxc-makeup-store/CosmeticsWeb" target="_blank">项目地址(https://github.com/dcxc-makeup-store/CosmeticsWeb)</a>
            </li>
        </ul>

        <p class="row text-left">
            <img src="~/Images/主页图.jpg" class="col-md-10 col-md-offset-1" />
        </p>
        <li>
            <div id="mainsrp-nav">
                <div class="m-nav g-clearfix">
                    <div class="crumb g-clearfix" data-spm-anchor-id="a230r.1.0.i0.66dd4e14B6XDE7">


                        <a class="J_ToggleNav icon-tag toggle-btn show-collapse" href="#" data-spm-anchor-id="a230r.1.0.0">
                            <span class="expand">
                                <span data-spm-anchor-id="a230r.1.0.i2.66dd4e14B6XDE7">&nbsp;</span><span class="arrow icon-btn-arrow-down-2"></span>
                            </span>

                        </a>

                        <span class="cat-text">所有分类</span>
                        <a class="icon-btn-vbarrow"></a>
                    </div>


                    <div class="groups J_NavGroup">

                        <div class="group">

                            <div class="row J_Row row-first hide-toggle" id="J_NavCommonRow_0">
                                <div class="head">
                                    <h4>

                                        <a class="title cat-title J_Ajax" data-url="nav" data-key="cat" data-value="1801" data-action="add" title="美容护肤/美体/精油" trace="navPropertyNew" href="#">美容护肤/美体/精油</a>

                                        ：
                                    </h4>
                                </div>
                                <div class="body">
                                    <div class="items J_Items">
                                        <div class="items-inner g-clearfix" id="J_NavCommonRowItems_0">

                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="cat" data-value="50011980" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s" title="乳液/面霜">


                                                <span class="text">乳液/面霜</span>

                                            </a>

                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="cat" data-value="50011979" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s" title="面部精华">


                                                <span class="text">面部精华</span>

                                            </a>

                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="cat" data-value="50011977" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s" title="洁面">


                                                <span class="text">洁面</span>

                                            </a>

                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="cat" data-value="50011986" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s" title="眼部护理">


                                                <span class="text">眼部护理</span>

                                            </a>

                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="cat" data-value="50011993" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s" title="面部护理套装">


                                                <span class="text">面部护理套装</span>

                                            </a>

                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="cat" data-value="50011978" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s" title="化妆水/爽肤水">


                                                <span class="text">化妆水/爽肤水</span>

                                            </a>

                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="row J_Row hide-toggle" id="J_NavCommonRow_1">
                                <div class="head">
                                    <h4>

                                        <a class="title cat-title J_Ajax" data-url="nav" data-key="cat" data-value="50010788" data-action="add" title="彩妆/香水/美妆工具" trace="navPropertyNew" href="#">彩妆/香水/美妆工具</a>

                                        ：
                                    </h4>
                                </div>
                                <div class="body">
                                    <div class="items J_Items">
                                        <div class="items-inner g-clearfix" id="J_NavCommonRowItems_1">

                                            <a class="item icon-tag J_Ajax " href="Home/Lip" data-url="nav" data-key="cat" data-value="50010808" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s" title="唇膏/口红">


                                                <span class="text">唇膏/口红</span>

                                            </a>

                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="cat" data-value="50010798" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s" title="眉笔/眉粉/眉饼">


                                                <span class="text">眉笔/眉粉/眉饼</span>

                                            </a>

                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="cat" data-value="50031311" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s" title="BB霜">


                                                <span class="text">BB霜</span>

                                            </a>

                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="cat" data-value="50010796" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s" title="眼影">


                                                <span class="text">眼影</span>

                                            </a>

                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="cat" data-value="50010789" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s" title="粉底液/膏">


                                                <span class="text">粉底液/膏</span>

                                            </a>

                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="cat" data-value="50010812" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s" title="彩妆套装/彩妆盘">


                                                <span class="text">彩妆套装/彩妆盘</span>

                                            </a>

                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="row J_Row hide-toggle" id="J_NavCommonRow_2">
                                <div class="head">
                                    <h4>

                                        <span class="title" title="产地">品牌</span>

                                        ：
                                    </h4>
                                </div>
                                <div class="body">
                                    <div class="items J_Items">
                                        <div class="items-inner g-clearfix" id="J_NavCommonRowItems_2">

                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="ppath" data-value="21299:3620977" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s;ppath:21299%3A3620977" title="阿玛尼">

                                                <span class="icon-btn-check-small"></span>


                                                <span class="text">阿玛尼</span>

                                            </a>

                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="ppath" data-value="21299:27409" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s;ppath:21299%3A27409" title="迪奥">

                                                <span class="icon-btn-check-small"></span>


                                                <span class="text">迪奥</span>

                                            </a>

                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="ppath" data-value="21299:27411" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s;ppath:21299%3A27411" title="魅可">

                                                <span class="icon-btn-check-small"></span>


                                                <span class="text">魅可</span>

                                            </a>

                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="ppath" data-value="21299:27410" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s;ppath:21299%3A27410" title="雅诗兰黛">

                                                <span class="icon-btn-check-small"></span>


                                                <span class="text">雅诗兰黛</span>

                                            </a>

                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="ppath" data-value="21299:27412" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s;ppath:21299%3A27412" title="贝德玛">

                                                <span class="icon-btn-check-small"></span>


                                                <span class="text">贝德玛</span>

                                            </a>

                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="ppath" data-value="21299:39865108" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s;ppath:21299%3A39865108" title="悦诗风吟">

                                                <span class="icon-btn-check-small"></span>


                                                <span class="text">悦诗风吟</span>

                                            </a>

                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="ppath" data-value="21299:27019" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s;ppath:21299%3A27019" title="美宝莲">

                                                <span class="icon-btn-check-small"></span>


                                                <span class="text">美宝莲</span>

                                            </a>

                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="ppath" data-value="21299:27023" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s;ppath:21299%3A27023" title="香奈儿">

                                                <span class="icon-btn-check-small"></span>


                                                <span class="text">香奈儿</span>

                                            </a>

                                        </div>
                                    </div>



                                </div>

                            </div>

                            <div class="row J_Row " id="J_NavCommonRow_3">
                                <div class="head">
                                    <h4>

                                        <span class="title" title="功能">功能</span>

                                        ：
                                    </h4>
                                </div>
                                <div class="body">
                                    <div class="items J_Items">
                                        <div class="items-inner g-clearfix" id="J_NavCommonRowItems_3">



                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="ppath" data-value="20019:3259918" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s;ppath:20019%3A3259918" title="补水">

                                                <span class="icon-btn-check-small"></span>


                                                <span class="text">补水</span>

                                            </a>

                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="ppath" data-value="20019:84461" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s;ppath:20019%3A84461" title="保湿">

                                                <span class="icon-btn-check-small"></span>


                                                <span class="text">保湿</span>

                                            </a>

                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="ppath" data-value="20019:3335577" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s;ppath:20019%3A3335577" title="淡化细纹">

                                                <span class="icon-btn-check-small"></span>


                                                <span class="text">淡化细纹</span>

                                            </a>

                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="ppath" data-value="20019:3260583" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s;ppath:20019%3A3260583" title="提亮肤色">

                                                <span class="icon-btn-check-small"></span>


                                                <span class="text">提亮肤色</span>

                                            </a>





                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="ppath" data-value="20019:84463" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s;ppath:20019%3A84463" title="控油">

                                                <span class="icon-btn-check-small"></span>


                                                <span class="text">控油</span>

                                            </a>

                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="ppath" data-value="20019:154350278" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s;ppath:20019%3A154350278" title="自然立体">

                                                <span class="icon-btn-check-small"></span>


                                                <span class="text">自然立体</span>

                                            </a>



                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="ppath" data-value="20019:1100204538" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s;ppath:20019%3A1100204538" title="改善眼部暗沉">

                                                <span class="icon-btn-check-small"></span>


                                                <span class="text">改善眼部暗沉</span>

                                            </a>

                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="ppath" data-value="20019:3343530" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s;ppath:20019%3A3343530" title="保湿补水">

                                                <span class="icon-btn-check-small"></span>


                                                <span class="text">保湿补水</span>

                                            </a>





                                            <a class="item icon-tag J_Ajax " href="#" data-url="nav" data-key="ppath" data-value="20019:84468" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s;ppath:20019%3A84468" title="收缩毛孔">

                                                <span class="icon-btn-check-small"></span>


                                                <span class="text">收缩毛孔</span>

                                            </a>



                                        </div>
                                    </div>



                                </div>

                            </div>



                            <div class="J_OverlayPanel overlay" data-idx="1" style="display: none;">
                                <div class="overlay-inner g-clearfix">

                                    <a class="item J_Ajax" href="#" data-url="nav" data-key="ppath" data-value="1627553:3259962" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s;ppath:1627553%3A3259962" title="面霜">面霜</a>

                                    <a class="item J_Ajax" href="#" data-url="nav" data-key="ppath" data-value="1627553:20175" data-action="add" trace="navPropertyNew" trace-click="cps:yes_s;ppath:1627553%3A20175" title="乳液/面霜">乳液/面霜</a>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </li>
    </div>
</div>
<div class="row">
    @Html.Action("cosmeticsearch")
</div>
<div class="row">
    @Html.Action(actionName: "TopCosmetics", controllerName: "Home", routeValues: new { number = 4 })
</div>
<style>
</style>