@{
    ViewBag.Title = "天大";
}

<div class="jumbotron masthead">
    <div class="container">
        <h1>dcxc化妆品小店</h1>
        <h2>电子商务系统分析与设计课程作业</h2>
        <ul class="masthead-links">
            <li>
                <a href="https://github.com/dcxc-makeup-store/CosmeticsWeb" target="_blank">项目地址(https://github.com/dcxc-makeup-store/CosmeticsWeb)</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    @Html.Action("cosmeticsearch")
</div>
<div class="row">
    @Html.Action("TopCosmetics")
</div>
<style>

</style>