@model IEnumerable<CosmeticsWeb.Models.EF.商品信息表>

@{ 
    ViewBag.Title = "化妆品列表";//这个是默认的,ViewBag是一个dynamic类型的对象，可以用来在controller和页面之间传递数据
}

<h2 class="row text-center">化妆品列表</h2>
<hr/>
<div class="row text-right">
    @Html.ActionLink("新增化妆品", "Create", null, new { @class="btn btn-default"})
</div>
<hr/>
<div class="row">
    @foreach(var item in Model)
    {
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">@item.商品名称</div>
            <div class="panel-body">
                <p class="row">
                    <img src="~/Images/Armani唇釉206.jpg" class="col-md-10 col-md-offset-1"/>
                </p>
                <p class="row">
                    <div class="col-md-10 col-md-offset-1">
                        描述：@item.商品描述
                    </div>
                </p>
                <p class="row">
                    <div class="col-md-10 col-md-offset-1">
                        价格：@CosmeticsWeb.Models.Main.Util.ConvertMoneyToString(item.商品单价)元
                    </div>
                </p>
            </div>
        </div>
     </div>
        }
</div>
