@model IEnumerable<CosmeticsWeb.Models.EF.商品类型表>

@{
    ViewBag.Title = "类型管理";
}

<h2 class="row text-center">类型管理</h2>
<hr />
<div style="text-align:right;">
    @Html.ActionLink("新增分类", "Create", null, new { @class = "btn btn-default", @style = "padding:0.5em;" })
</div>
<hr />

<table class="table">

    <tr>
        <th>
            <h4>
                @Html.DisplayNameFor(model => model.商品类型名称)
            </h4>
</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <h5>
                @Html.DisplayFor(modelItem => item.商品类型名称)
            </h5>
        </td>
        <td>
         <h5>
            <a href="#" class="mya" data="@item.商品类型名称"><i class="glyphicon glyphicon-trash"></i></a>
        </h5>
        </td>
    </tr>
}
</table>

<style>
    .mya{
        color:red
    }
</style>

@section Scripts{
    <script>//浏览器端执行 与服务器端无关
        $(document).ready(function () {
            $(".mya").click(function () {//所有class等于mya的元素被点击的时候执行下端操作
                if (!confirm("是否确认操作?"))
                    return;
                //todelete
                var typeName = $(this).attr("data");
                $.ajax({//局部更新 脚本可以和服务器通讯 再返回
                    url: "/AdminBookType/Delete",
                    type: "get",
                    data: { typeName: typeName },
                    success: function (serverMessage) {
                        if (serverMessage == false) {
                            alert("操作失败");
                        }
                        else {
                            alert("操作成功！");
                            top.location = "/AdminBookType/Index";
                        }
                    },
                    error: function () {
                        alert("操作失败");
                    }
                });
            })
        })
    </script>
  }